:root {
    --board-width: 300px;
    --board-background-color: #ffffff;
    --board-padding-x: 10px;
    --board-padding-y: 20px;
    --board-child-margin-top: 15px;
    --board-form-control-margin-left: 10px;
}

.Board {
    width: var(--board-width);
    min-width: var(--board-width);
    height: 98%;
    padding: var(--board-padding-y) var(--board-padding-x);
    padding-bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--board-background-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

.Board::-webkit-scrollbar {
    display: none;
}

.DateCalendar {
    min-height: 310px;
    margin-top: 0 !important;
}

/*child*/
.Board > *:not(:first-child):not(:last-child) {
    margin-top: var(--board-child-margin-top);
}

.FormControl {
    padding-left: var(--board-form-control-margin-left) !important;
}
