:root {
  --header-height: 50px;
}

.header {
  position: relative;
  width: 100vw;
  height: var(--header-height);
  top: 0;
  left: 0;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon {
  width: var(--header-height);
  height: var(--header-height);
  margin: 0;
  /*  center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiSvgIcon-root {
  width: 100%;
  height: 100%;
}

.icon:hover {
  cursor: pointer;
  /*  turn lighter background */
  background-color: #d7d7d7;
}
