:root {
    --worker-show-goal-margin: 0px 10px 0px 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 2px
}

.showGoal {
    /*left right margin 10px , top bottom 0px*/
    margin: var(--worker-show-goal-margin);
}