.taskFont {
  /* margin right 10px */
  margin-right: var(--worker-margin-right);
  height: var(--worker-task-name-height);
  line-height: var(--worker-task-name-line-height);
  text-align: center;
  color: var(--worker-task-color);
  font-family: Inter, fantasy;
  font-size: var(--worker-task-font-size);
  font-style: normal;
  font-weight: var(--worker-task-font-weight);
  flex-shrink: 0;
}
