.SuspendedTasks {
    margin: 0 10px 10px;
}

.card {
    /*    radius  */
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    /*    padding  */
    padding: 2px;
    margin-top: 6px;
}

.redFont {
    color: red;
}

.fontOneLine {
    display: flex;
    flex-direction: row;
}

.noMargin {
    margin: 0;
}