:root {
  --task-creater-width: 1050px;
  --task-creater-height: 490px;
  --task-creater-margin: 30px;
  --task-creater-small-margin: 10px;
  --task-creater-left-width: 400px;
  --task-creater-right-width: 650px;
}

.title {
  margin: var(--task-creater-margin);
}

.card {
  width: var(--task-creater-width);
  height: var(--task-creater-height);
  margin: var(--task-creater-margin);
  display: flex;
  flex-direction: row;
}

.left {
  width: var(--task-creater-left-width);
}


.input {
  /*left and right 30px, up and down 0px*/
  margin: var(--task-creater-margin) var(--task-creater-small-margin) 0 var(--task-creater-small-margin) !important;
}

.textfield {
  height: 200px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: var(--task-creater-right-width);
}

.description {
  display: flex;
  flex-direction: column;
}
